slides > slide { border-radius: 30px; border: solid 3px white; }

slides { animation: uva_rainbow 600s infinite;
         background-image: url("https://dl.dropboxusercontent.com/u/1429185/uva_acroniem/Andreaskruizen_patroon_A_t_w.png");
         background-repeat: repeat-y; 
         background-position: left top; }

@keyframes uva_rainbow { 0%  { background-color: #1F1D21; } /* UvA  */
                         15% { background-color: #BEB511; } /* FEB  */
                         30% { background-color: #90003E; } /* FDR  */
                         45% { background-color: #257835; } /* GEN  */
                         60% { background-color: #004E92; } /* FGW  */
                         75% { background-color: #E98300; } /* FMG  */
                         90% { background-color: #751B68; } /* FNWI */
                       }

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.section { color: black; }

.subsection {font-size: .95em; 
               list-style-type:circle;
}


pre, code {white-space:pre !important; overflow-x:scroll !important}