#title-slide {
  background-color: rgba(255, 255, 255, .9);
  width: 50%;
  margin-top: 100px;
  font-size: 50%;
}

#title-slide * {
  text-align: left;
  padding: 5px 5px 5px 10px;
\\  border: 1px dashed #DCDDDE;
  margin: 0;
}

.author, .date, .institute {
  background-color: rgba(235, 235, 236, .9);
}